pytest==7.3.1
pyyaml==6.0.1
pytest-html==3.2.0
pyotp==2.9.0
pytest-custom-exit-code==0.3.0
pyclean==2.7.5
pytest-cov==4.1.0
pycobertura==3.2.2
iniconfig==2.0.0
jsonschema==4.17.3
py==1.11.0
python-dotenv==1.0.0
requests==2.31.0
urllib3==2.0.2
pytest-custom-exit-code==0.3.0
pytest-xvfb==3.0.0
pytz
python-jose>=3.0.0
pyOpenSSL==20.0.1
paramiko
pycryptodome
pycodestyle
pyjwt 
cryptography